<section>
  <h2>Goal</h2>
  <p>
    The goal of this project is to replicate the design on this article
    <a
      href="https://blog.godsunchained.com/2021/04/07/immutable-x-marketplace-early-access/"
      >Gods Unchained Blog Post</a
    >
    for showing a listing of a GU card.
  </p>

  <p>
    I have taken the design and included the ability of showing a notification,
    working towards a pleasent user experience when buying items on the IMX
    Marketplace.
  </p>

  <h2>About</h2>
  <p>
    This is <strong>Andrew Starosciak</strong>, thank you for taking the time
    and considering me for a position on the team at Immutable X. It means alot
    for your team to check out this site as a demonstration of work.
  </p>

  <p>
    The overview of this project consists of how I would approach a project in
    Angular, by setting up a package library to abstract away reusability and
    organize my styles in a distribution-ready npm package following the Angular
    Package Format (APF).
  </p>

  <p>
    Feel free to reach out with any feedback. This project isn't complete in
    totality given the limited turn around time and scope.
  </p>
  <h5>Project Details</h5>
  <ul>
    <li><strong>Click Buy</strong> to see a notification pop-up.</li>
    <li>
      Includes a Host Component that uses content project and is generic to host
      component/template portals.
    </li>
    <li>
      Use of modern development approach including HTML Grids, CSS Variables,
      Animations and componentized architecture.
    </li>
    <li>Leverage Dependecy Injection throughout the application.</li>
  </ul>
</section>
